<%= simple_form_for @list do |f| %>

  <% if error = f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= error %>
    </div>
    
  <% end %>
  
  <%= f.input :description, 
              :input_html => { :class => "span6", :autofocus => true },
              :placeholder => "Add list name" %>
              
  <%= f.input :public, :as => :boolean %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>